{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }}, {{ author.last_name }}</h1>

  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>
  
  <div style="margin-left:0px;margin-top:50px">
    <h4>Books written</h4>

    {% for copy in author.book_set.all %}
      <hr>
     <p><strong> </p>
     <a href="">{{ copy.title }}</a>
     <p> {{ copy.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}